.img {
  display:flex;
  animation-duration: 2s;
  animation-name: change-color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  justify-content: center;
  align-items: center;

}

@keyframes change-color {
  from {
    opacity: 0;
  }

  to {
      opacity: 1;
  }
}